{% extends 'main.twig' %}

{% block head %}
    <title>卡片室</title>
    <style>
        h1 {
            margin-bottom: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e4e4e4;
        }

        main {
            width: 70%;
            margin: 40px auto;
        }

        .card-list {
            padding-left: 0;
            padding-right: 0;
        }

        .card-list .column {
            margin-bottom: 16px;
        }

        .card-list .card:hover {
            cursor: pointer;
            background: #f0f1f4;
        }

        .card-list .add-card i {
            margin-right: 6px;
        }

        .card-list .add-card i, .card-list .add-card span {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <h1>卡片室</h1>
        <div class="container card-list">
            <div class="columns">
                {% for v in user.cards %}
                    <div class="column col-3">
                        <div class="card" data-id="{{ v.id }}">
                            <div class="card-body">{{ v.title }}</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="column col-3">
                    <div class="card add-card">
                        <div class="card-body">
                            <a href="#add-card">
                                <i class="icon icon-plus"></i><span>添加新卡片</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal modal-sm" id="add-card">
        <a href="#close" class="modal-overlay"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right"></a>
                <div class="modal-title h5">新卡片</div>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label" for="add-title">标题</label>
                        <input class="form-input" type="text" id="add-title" name="title">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">添加</button>
                    <a class="btn btn-link" href="#close">关闭</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script>
        function gotoItem() {
            if ($(this).hasClass('add-card')) {
                return;
            }

            location.href = '{{ path_for('items.index', { 'id': '000' }) }}'.replace('000', $(this).data('id'));
        }

        $('.card').click(gotoItem);

        $('#add-card form').submit(function () {
            $.post('{{ path_for('cards.store') }}', $(this).serialize(), function (res) {
                location.hash = '';
                if (res.code === 1) {
                    $(
                        '<div class="column col-3">' +
                        '   <div class="card" data-id="' + res.id + '"><div class="card-body"></div></div>' +
                        '</div>'
                    )
                        .insertBefore($('.add-card').parent())
                        .find('.card').click(gotoItem)
                        .find('.card-body').text($('#add-title').val());

                    $.notify('添加成功');
                } else {
                    $.notify('添加失败', 'error');
                }
            });

            return false;
        });
    </script>
{% endblock %}
