{% extends 'main.twig' %}

{% block head %}
    <title>登录</title>
    <style>
        .card {
            width: 400px;
            margin: 80px auto 0;
        }

        .card-body button {
            margin-top: 20px;
        }

        .prompt {
            color: gray;
            width: 400px;
            font-size: 14px;
            margin: 30px auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="card-title h4">登录</div>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <div class="form-group">
                    <input class="form-input" type="text" name="name" placeholder="用户名">
                </div>
                <div class="form-group">
                    <input class="form-input" type="password" name="password" placeholder="密码">
                </div>
                <div class="form-control text-right">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="prompt">
        还没有账号？<a href="{{ path_for('register') }}">创建新账号</a>
    </div>
{% endblock %}

{% block foot %}
    <script>
        $('form').submit(function () {
            $.post('{{ path_for('login') }}', $(this).serialize(), function (res) {
                if (res.code === 1) {
                    location.href = '{{ path_for('cards.index') }}';
                    return;
                }

                $.notify(res.msg, 'error');
            });

            return false;
        });
    </script>
{% endblock %}
